---
import Footer from "../components/Footer.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ingamana :RE</title>
	</head>
	<body>
		<Hero/>
		<Grid/>
		<Footer/>
	</body>
</html>

<style>
	* {
		box-sizing: border-box;
		margin: 0;
	}
</style>