---

---

<header class="hero">
  <h1>HERO BLOCK</h1>
</header>

<style>
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - 300px);
  }
</style>